
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/crud.css' %}">
</head>
<body>
{% block body %}
<div class="container">

    <div class="crud-grid">

        <!-- CREATE -->
        <div class="col">
            <h2>Create</h2>
            <form method="post" action="{% url 'crud_insert' %}">
                {% csrf_token %}
                <div class="input-group">
                <label for="empid">Employee ID</label>
                <input type="number" id="empid" name="empid" placeholder="Enter Employee ID">

                <label for="empname">Employee Name</label>
                <input type="text" id="empname" name="empname" placeholder="Enter Employee Name">

                <label for="emploc">Employee Location</label>
                <input type="text" id="emploc" name="emploc" placeholder="Enter Employee Location">

                <label for="empphone">Employee Phone</label>
                <input type="text" id="empphone" name="empphone" placeholder="Enter Phone Number">

                <label for="empemail">Employee Email</label>
                <input type="email" id="empemail" name="empemail" placeholder="Enter Employee Email">
            </div>

            <button class="btn" type="submit">Save</button>
            </form>
        </div>

        <!-- READ -->
        <div class="col">
            <h2>Read</h2>
            <label>Select Employee:</label>
            <br>
            <form method="post" action="{% url 'read_employee' %}">
                {% csrf_token %}
                <select name="read_empid" required>
                    <option value="">--Select Employee ID--</option>
                    {% for emp in employees %}
                        <option value="{{ emp.empid }}">{{ emp.empid }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <button class="btn" type="submit" name="read">View</button>
            </form>
            <br>
            {% if selected_emp %}
            <div class="result">
                <p><b>ID:</b> {{ selected_emp.empid }}</p>
                <p><b>Name:</b> {{ selected_emp.empname }}</p>
                <p><b>Location:</b> {{ selected_emp.emplocation }}</p>
                <p><b>Phone:</b> {{ selected_emp.empphone }}</p>
                <p><b>Email:</b> {{ selected_emp.empemail }}</p>
            </div>
            {% endif %}
        </div>

        <!-- UPDATE -->
        <div class="col">
            <h2>Update</h2>
                <form method="post" action="{% url 'update_employee' %}">
                {% csrf_token %}
                <label>Select Employee ID</label>
                    <select name="empid" required>
                        <option value="">-- Select Emp ID --</option>
                        {% for emp in employees %}
                            <option value="{{ emp.empid }}">{{ emp.empid }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <button class="btn" type="submit" name="fetch">Fetch</button>
                    <br>
                    {% if update_emp %}
                        <div class="input-group">
                            <label>Name</label>
                            <input type="text" name="empname" value="{{ update_emp.empname }}">

                            <label>Location</label>
                            <input type="text" name="emplocation" value="{{ update_emp.emplocation }}">

                        <label>Phone</label>
                        <input type="text" name="empphone" value="{{ update_emp.empphone }}">
                            <label>Email</label>
                        <input type="text" name="empemail" value="{{ update_emp.empemail }}">
                    </div>

                    <button class="btn" type="submit" name="update">Update</button>
                {% endif %}
                    </form>

            {% if update_msg %}
                <div class="result">{{ update_msg }}</div>
            {% endif %}
        </div>

        <!-- DELETE -->
        <div class="col">
            <h2>Delete</h2>
        </div>

    </div>
    <br><br>
    <button class="btn" onclick="window.location.href='{% url "adminapphomepage" %}'" style="width: 500px; text-align: center; display: block; margin: 0 auto;">Home Page</button>
</div>
{% endblock %}
</body>
</html>